.dropdown{
  position: relative;
  margin: 20px 0px;
  background-color: #FFF;
  border-radius: 5px;
  .dropdown-header{
    position: relative;
    background-color: #FF6060 ;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    z-index: 10;
    border-radius: 5px;
    cursor: pointer;
    p{
      background: none;
      font-size: 24px;
      color: #fff;
      margin-left: 10px;
    }
    img{
      background: none;
      margin-right: 20px;
    }
  }
  .dropdown-content{
    position: relative;
    z-index: 5;
    margin-top: -5px;
    background-color: #F6F6F6;
    color: #FF6060;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    animation: open 0.5s;
  }
}

@media screen and (max-width: 600px) {

  .dropdown {
    margin: 10px 0px;
    .dropdown-header{
      padding: 5px;
      p{
        font-size: 13px;
      }
      img{
        width: 9px;
        margin-right: 5px;
      }
    }
    .dropdown-content{
      font-size: 13px;
    }
  }
}

@keyframes open {
  0% {
    height: 0px;
  }
  100% {
    margin-top: -5px;
    height: 100%;
  }
}
