*, html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
  padding: 0px;
  overflow-x: hidden;
  // padding-bottom: 220px;
  // min-height: 100vh;
}
a{
  color: inherit;
  text-decoration: none;
}

ul,li {
  list-style: none;
}

// COLORS
$principal: #FF6060;

@media screen and (max-width: 600px) {
  body {
    margin: 20px;
    padding-bottom: 220px;
  }
  .app {
    margin: 0px !important;
  }
}
.app{
  margin: 40px 100px;
}
