.tag{
  background-color: #FF6060;
  width: auto;
  height: 15px;
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin-right: 10px;
  span{
    color: #fff;
    background: none;
    font-size: 14px;
  }
}
